body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
 /* background-image: url('backg.jpg'); /* Replace 'your-wallpaper-url.jpg' with the URL or path to your desired wallpaper image */
  background-size: cover; /* Ensure the background image covers the entire screen */
  background-position: center; /* Center the background image */
}

.game {
  text-align: center;
}

.game-board {
  margin-top: 20px;
}
.game-info {
  font-size: 35px; /* Increase the font size for the winner status */
  font-weight: bold; /* Make the winner status bold for emphasis */
  color: black; /* Change the color of the winner status to red */
}

.square {
  width: 70px;
  height: 70px;
  font-size: 40px;
  margin: 4px;
  padding: 12px;
}
